// colors
@primaryColor: #202125;
@lightBackgroundColor: #fff;
@lightElementColor: #fafafa;
@dangerColor: #c62828;
@errorColor: @dangerColor;
@statusOKColor: #66bb6a;
@statusBadColor: @errorColor;
@tagColor: #f0f0f0;

@lightTextColor: @lightElementColor;
@darkTextColor: @primaryColor;
@headerColor: #424242;
@lowPriorityTextColor: #676767;

@edgeColor: #dedede;
@tableEdgeColor: @edgeColor;

// sizing
@desktopPagePadding: 200px;
