@import "../variables.less";

@firstColumnWidth: 300px;
@firstColumnPadding: 27px;
@starWidth: 40px;

h1,
h2 {
  font-family: 'Open Sans';
  color: @headerColor;
  padding: 10px 0;
  margin: 0;
  width: 100%;
  font-weight: 500;
  font-size: 18pt;
  user-select: none;
}

input,
select {
  display: inline-block;
  width: 300px;
  background-color: @lightBackgroundColor;
  border-radius: 2px;
  padding: 8px;
  border: 1px solid @edgeColor;
  font-weight: 100;
  font-size: 14pt;
  transition: border 0.4s ease-out;
  outline: none;
  color: @primaryColor;
  margin-right: 8px;
}

input:focus,
.select:focus {
  border-color: @primaryColor;
}

code {
  display: block;
  background-color: lighten(#eee, 2%);
  padding: 4px;
  margin: 12px 0 4px;
  user-select: all;
  word-wrap: break-word;
}

button {
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.4s ease-out, color 0.4s ease-out;
  width: 100px;
  padding: 7px;
  font-size: 13pt;
  font-weight: 100;
  font-family: 'Open Sans';
  background-color: @primaryColor;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid @primaryColor;
  outline: none;
}

button:hover {
  color: #212121;
  background-color: @lightElementColor;
}

.agent-name, .state-timestamp {
  color: @lowPriorityTextColor;
}

.metric-state {
  box-sizing: border-box;
  width: 100%;
  color: @primaryColor;

  .metric-state-param {
    border: 1px solid @tableEdgeColor;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.03);
    font-size: 16px;
    line-height: 50px;
    border-bottom: 0;
    font-weight: 500;
    transition: box-shadow 0.4s ease-out;

    .metric-state-name {
      display: inline-block;
      padding-left: 27px;
      width: @firstColumnWidth;
      vertical-align: middle;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .metric-state-value {
      padding-left: 4px;
      display: inline-block;
    }
  }

  .metric-state-param:first-of-type {
    border-radius: 3px 3px 0;
  }

  .metric-state-param:last-of-type {
    border-radius: 0 0 3px 3px;
    border-bottom: 1px solid @tableEdgeColor;
  }

  .metric-state-param:hover {
    box-shadow: 9px 6px 12px rgba(0, 0, 0, 0.09);
  }
}

.metric-page {
  padding-bottom: 20px;
}

.alert-data {
  box-sizing: border-box;
  width: 100%;
  color: @primaryColor;

  .alert {
    border: 1px solid @tableEdgeColor;
    box-shadow: 1px 2px 4px rgba(0,0,0,.03);
    font-size: 16px;
    line-height: 50px;
    border-bottom: 0;
    font-weight: 500;
    transition: box-shadow 0.4s ease-out;

    .alert-condition {
      display: inline-block;
      padding-left: 27px;
      width: @firstColumnWidth;
      vertical-align: middle;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .alert-action {
      padding-left: 4px;
      display: inline-block;
    }

    .alert-delete-btn {
      float: right;
      margin-right: 32px;
      line-height: 50px;
      opacity: 0;
      transition: opacity 0.4s ease-out;
      cursor: pointer;
    }
  }

  .alert:first-of-type {
    border-radius: 3px 3px 0;
  }

  .alert:last-of-type {
    border-radius: 0 0 3px 3px;
    border-bottom: 1px solid @tableEdgeColor;
  }

  .alert:hover {
    box-shadow: 9px 6px 12px rgba(0, 0, 0, 0.09);

    .alert-delete-btn {
      opacity: 1;
    }
  }
}

.add-alert-btn {
  margin: 18px auto 0;
  display: block;
}

.add-alert-panel {
  margin: 18px auto 0;
  width: fit-content;

  input, select {
    width: 250px;
  }

  .action-input {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 766px;
  }

  button {
    width: 766px;
  }
}
