<div *ngIf="metric">
    <h1>{{ getMetricNameByType(metric.type) }}<span class="agent-name">@{{ metric.agent.name }}</span></h1>
    <h2>Current state <span class="state-timestamp">{{ currentStateTimestamp }}</span></h2>
    <div class="metric-state">
        <div *ngFor="let key of Object.keys(currentState)" class="metric-state-param">
            <div class="metric-state-name">{{ key }}</div>
            <div class="metric-state-value">{{ currentState[key] }}</div>
        </div>
    </div>
    <h2>Chart</h2>
    <select [(ngModel)]="selectedDataset">
        <option *ngFor="let field of fields" [value]="field">{{ field }}</option>
    </select>
    <div id="metricChart"></div>
</div>
<div *ngIf="metric === undefined">
    <h1>Loading...</h1>
</div>