@import "../variables.less";

h1 {
    font-family: 'Open Sans';
    color: @headerColor;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    font-weight: 500;
    font-size: 18pt;
    user-select: none;
  }