<h1>Starred</h1>

<div class="agent-list">
  <div class="agent">
    <div class="agent-name">my server</div>
    <div class="agent-status" data-status="online">online</div>
    <div class="fas fa-star"></div>
    <div class="agent-tags">
      <div class="agent-tag">first tag</div>
      <div class="agent-tag">second tag</div>
    </div>
  </div>
</div>

<h1>All</h1>

<div class="agent-list">
  <div class="agent">
    <div class="agent-name">my server with expanded details</div>
    <div class="agent-status" data-status="online">online</div>
    <div class="far fa-star"></div>
    <div class="agent-details">
      <div class="agent-info">
        IPv4: 123.45.67.23
      </div>
      <div class="agent-info">
        IPv6: 1a01:b1b1:3:c0::c41:4001
      </div>
      <div class="agent-info">
        OS: Ubuntu 18.04.1 LTS
      </div>
      <div class="agent-tags">
        <div class="agent-tag">first tag</div>
        <div class="agent-tag">second tag</div>
        <div class="agent-tag">third tag</div>
        <div class="agent-tag">tag with some long text...</div>
      </div>
      <div class="agent-metric">
        <div class="agent-metric-name">Disk I/O</div>
        <div class="agent-metric-summary">up 10.4mb/s down 5.4mb/s</div>
        <div class="far fa-star"></div>
      </div>
      <div class="agent-metric">
        <div class="agent-metric-name">Disk usage</div>
        <div class="agent-metric-summary">147GB/320GB</div>
        <div class="far fa-star"></div>
      </div>
      <div class="agent-metric">
        <div class="agent-metric-name">Memory</div>
        <div class="agent-metric-summary">1.2GB/4GB</div>
        <div class="far fa-star"></div>
      </div>
      <div class="agent-metric">
        <div class="agent-metric-name">CPU</div>
        <div class="agent-metric-summary">10%</div>
        <div class="far fa-star"></div>
      </div>
      <div class="agent-metric">
        <div class="agent-metric-name">Docker</div>
        <div class="agent-metric-summary">10 containers running</div>
        <div class="far fa-star"></div>
      </div>
      <div class="agent-metric">
        <div class="agent-metric-name">NGINX</div>
        <div class="agent-metric-summary">Throughput: 7.42 req/s, Errors: 0%</div>
        <div class="far fa-star"></div>
      </div>
      <div class="agent-metric">
        <div class="agent-metric-name">Uptime</div>
        <div class="agent-metric-summary">2 weeks 4 days</div>
        <div class="far fa-star"></div>
      </div>
    </div>
  </div>
  <div class="agent">
    <div class="agent-name">my other server</div>
    <div class="agent-status" data-status="offline">offline</div>
    <div class="far fa-star"></div>
  </div>
  <div class="agent">
    <div class="agent-name">my server</div>
    <div class="agent-status" data-status="online">online</div>
    <div class="far fa-star"></div>
  </div>
  <div class="agent">
    <div class="agent-name">Some API endpoint</div>
    <div class="agent-status" data-status="online">uptime 99.7%, avg. resp.time: 48.6ms</div>
    <div class="far fa-star"></div>
  </div>
  <div class="agent">
    <div class="agent-name">Some event</div>
    <div class="agent-status">198/hour</div>
    <div class="far fa-star"></div>
  </div>
</div>
