<div *ngFor="let project of (queryString.replace(' ', '') === '' ? userData.projects : [])" class="metric-list">
  <h1 *ngIf="project.starredMetrics.length > 0">{{ project.name }}</h1>
  <div *ngFor="let metricID of project.starredMetrics" class="metric" (click)="openMetricPage(getAgentByMetricID(metricID).id, metricID)">
    <div class="metric-name">{{ getMetricNameByType(getMetricByID(metricID).type) }}<span class="metric-agent">@{{ getAgentByMetricID(metricID).name }}</span></div>
    <div class="metric-summary">{{ getMetricSummaryFor(getMetricByID(metricID)) }}</div>
    <div (click)="unstarMetric(getAgentByMetricID(metricID).projectID, getMetricByID(metricID), $event);" class="fa fa-star"></div>
  </div>
</div>

<h1>All agents</h1>
<div class="agent-list">
  <div *ngFor="let agent of filteredAgents || queryString" class="agent" [ngClass]="{'expanded': expandedAgentID === agent.id}">
    <div class="agent-bar" (click)="showAgentExpanded(agent)">
      <div class="agent-name">{{ agent.name }}</div>
      <div class="agent-status" [ngClass]="{'online': isOnline(agent), 'offline': !isOnline(agent)}">{{ getStatusText(agent) }}</div>
      <div class="agent-tags">
        <div *ngFor="let tag of agent.tags.slice(0, 3)" class="agent-tag">
          {{ tag }}
        </div>
      </div>
      <a href="/agent/{{ agent.id }}" class="agent-view-btn">view</a>
    </div>
    <div class="agent-details">
      <div class="agent-info" *ngIf="agent.type === 'generic'">
        IPv4: {{ json.parse(agent.properties.ipv4).join(', ') }}
      </div>
      <div class="agent-info" *ngIf="agent.type === 'generic'">
        IPv6: {{ json.parse(agent.properties.ipv6).join(', ') }}
      </div>
      <div class="agent-info" *ngIf="agent.type === 'generic'">
        OS: {{ agent.properties.os }}
      </div>
      <div class="agent-info" *ngIf="agent.type === 'endpoint'">
        Endpoint: <a href="{{ agent.properties.endpoint }}">{{ agent.properties.endpoint }}</a>
      </div>
      <div class="agent-tags">
        <div *ngFor="let tag of agent.tags" class="agent-tag">
          {{ tag }}
        </div>
      </div>
      <div *ngFor="let metricType of Object.keys(agent.metrics)" (click)="openMetricPage(agent.id, agent.metrics[metricType].id)" class="agent-metric">
        <div class="agent-metric-name">{{ getMetricNameByType(metricType) }}</div>
        <div class="agent-metric-summary">{{ getMetricSummaryFor(agent.metrics[metricType]) }}</div>
        <div (click)="isStarredMetric(agent.metrics[metricType]) ? unstarMetric(agent.projectID, agent.metrics[metricType], $event) : starMetric(agent.projectID, agent.metrics[metricType], $event);" class="fa-star" [ngClass]="{'far': !isStarredMetric(agent.metrics[metricType]), 'fa': isStarredMetric(agent.metrics[metricType]) }"></div>
      </div>
    </div>
  </div>
</div>
