<h1>All agents</h1>
<div class="agent-list">
  <div *ngFor="let agent of userData.agents" class="agent" [ngClass]="{'expanded': expandedAgentID === agent.id}">
    <div class="agent-bar" (click)="showAgentExpanded(agent)">
      <div class="agent-name">{{ agent.name }}</div>
      <div class="agent-status" data-status="online">online</div>
      <div class="agent-tags">
        <div class="agent-tag">first tag</div>
        <div class="agent-tag">second tag</div>
      </div>
    </div>
    <div class="agent-details">
      <div class="agent-info">
        IPv4: {{ json.parse(agent.properties.ipv4).join(', ') }}
      </div>
      <div class="agent-info">
        IPv6: {{ json.parse(agent.properties.ipv6).join(', ') }}
      </div>
      <div class="agent-info">
        OS: {{ agent.properties.os }}
      </div>
      <div class="agent-tags">
        <div class="agent-tag">first tag</div>
        <div class="agent-tag">second tag</div>
        <div class="agent-tag">third tag</div>
        <div class="agent-tag">tag with some long text...</div>
      </div>
      <div *ngFor="let metricType of Object.keys(agent.metrics)" (click)="openMetricPage(agent.id, agent.metrics[metricType].id)" class="agent-metric">
        <div class="agent-metric-name">{{ getMetricNameByType(metricType) }}</div>
        <div class="agent-metric-summary">{{ getMetricSummaryFor(metricType, agent.metrics[metricType]) }}</div>
        <div (click)="starMetric(agent.id, agent.metrics[metricType].id, $event);" class="far fa-star"></div>
      </div>
      <!--<div class="agent-metric">
        <div class="agent-metric-name">Disk I/O</div>
        <div class="agent-metric-summary">up 10.4mb/s down 5.4mb/s</div>
        <div class="far fa-star"></div>
      </div>
      <div class="agent-metric">
        <div class="agent-metric-name">Disk usage</div>
        <div class="agent-metric-summary">147GB/320GB</div>
        <div class="far fa-star"></div>
      </div>
      <div class="agent-metric">
        <div class="agent-metric-name">Memory</div>
        <div class="agent-metric-summary">1.2GB/4GB</div>
        <div class="far fa-star"></div>
      </div>
      <div class="agent-metric">
        <div class="agent-metric-name">CPU</div>
        <div class="agent-metric-summary">10%</div>
        <div class="far fa-star"></div>
      </div>
      <div class="agent-metric">
        <div class="agent-metric-name">Docker</div>
        <div class="agent-metric-summary">10 containers running</div>
        <div class="far fa-star"></div>
      </div>
      <div class="agent-metric">
        <div class="agent-metric-name">NGINX</div>
        <div class="agent-metric-summary">Throughput: 7.42 req/s, Errors: 0%</div>
        <div class="far fa-star"></div>
      </div>
      <div class="agent-metric">
        <div class="agent-metric-name">Uptime</div>
        <div class="agent-metric-summary">2 weeks 4 days</div>
        <div class="far fa-star"></div>
    </div>-->
    </div>
  </div>
</div>
